
h1{
    color: #070708;
    background-color: rgb(206, 206, 255);
}

#theader{
    background-color: #ffff ;
    color: #0a0a1d;
}
#skillsh3{
    color: crimson;
    font-size: x-large;
    text-decoration: underline;
}
